.container {
    min-height: 100%;
    width: 100%;
    background-image: url("../public/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: row;
}

.loginLeft {
    background-color: white;
    padding: 50px 70px;
}

.fields {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.login img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.control input {
    border: none;
    background-color: #f4f4f4;
    padding: 20px;
    color: #aaa;
    font-family: 'Source Sans 3 Light';
    font-size: 18px;
}

.control input::placeholder {
    color: #aaa;
    font-family: 'Source Sans 3 Light';
    font-size: 18px;
}

.loginLeft > p, .loginLeft h1 {
    margin: 0 0 0 0;
}

.loginLeft > p {
    color: #aaa;
    font-size: 22px;
    font-family: 'Source Sans 3 Light';
}

.actions button {
    border: none;
    background-color: #222222;
    color: white;
    font-family: 'Source Sans 3 Light';
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}

.copyright {
    color: #aaa;
    font-family: 'Source Sans 3 Light';
}

.error {
    color: red;
    font-family: 'Source Sans 3 Light';
    font-size: 18px;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 1000px) {
    .container {
        justify-content: start;
    }

    .login {
        flex-direction: column;
        margin: 30px 30px;
    }

    .login img {
        width: 100%;
    }

    .fields {
        flex-direction: column;
    }

    .fields input {
        width: fit-content;
    }

    .loginLeft {
        padding: 30px 40px;
    }

    .loginLeft {
        text-align: center;
    }

    .actions button {
        width: 100%;
    }

    .control input {
        width: 100%;
        box-sizing: border-box;
    }

    .loginLeft > p {
        margin-top: 20px;
    }

    .actions {
        margin: 20px 0;
    }

    .loginLeft h1 {
        font-size: 30px;
    }
}